# {{ ansible_managed }}
# Apache Kafka broker (KRaft) - node {{ kafka_nodes[inventory_hostname] }}

process.roles=broker,controller
node.id={{ kafka_nodes[inventory_hostname] }}

controller.quorum.voters={% for h in groups['kafka'] %}{{ kafka_nodes[h] }}@{{ hostvars[h]['ansible_host'] }}:{{ kafka_controller_port }}{% if not loop.last %},{% endif %}{% endfor %}

listeners=PLAINTEXT://{{ ansible_host }}:{{ kafka_port }},CONTROLLER://{{ ansible_host }}:{{ kafka_controller_port }}
advertised.listeners=PLAINTEXT://{{ ansible_host }}:{{ kafka_port }}
listener.security.protocol.map=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
controller.listener.names=CONTROLLER
inter.broker.listener.name=PLAINTEXT

# KRaft quorum timeouts (tuned for slow virtualized storage)
controller.quorum.fetch.timeout.ms={{ kafka_controller_quorum_fetch_timeout_ms }}
controller.quorum.election.timeout.ms={{ kafka_controller_quorum_election_timeout_ms }}
controller.quorum.election.backoff.max.ms={{ kafka_controller_quorum_election_backoff_max_ms }}
controller.quorum.append.linger.ms={{ kafka_controller_quorum_append_linger_ms }}

# Broker heartbeat / session timeouts
broker.session.timeout.ms={{ kafka_broker_session_timeout_ms }}
broker.heartbeat.interval.ms={{ kafka_broker_heartbeat_interval_ms }}

# Replica lag tolerance (slow storage)
replica.lag.time.max.ms={{ kafka_replica_lag_time_max_ms }}

log.dirs={{ kafka_data_dir }}

num.partitions={{ kafka_num_partitions }}
default.replication.factor={{ kafka_default_replication_factor }}
min.insync.replicas={{ kafka_min_insync_replicas }}

offsets.topic.replication.factor={{ kafka_offsets_topic_replication_factor }}
transaction.state.log.replication.factor={{ kafka_transaction_state_log_replication_factor }}
transaction.state.log.min.isr={{ kafka_transaction_state_log_min_isr }}

auto.create.topics.enable={{ kafka_auto_create_topics }}
group.initial.rebalance.delay.ms={{ kafka_group_initial_rebalance_delay_ms }}

log.retention.hours={{ kafka_log_retention_hours }}
log.segment.bytes={{ kafka_log_segment_bytes }}
log.retention.check.interval.ms={{ kafka_log_retention_check_interval_ms }}
