## Modern Erlang/OTP releases from Team RabbitMQ
deb [arch=amd64 signed-by={{ rabbitmq_apt_keyring_path }}] https://deb1.rabbitmq.com/rabbitmq-erlang/ubuntu/{{ rabbitmq_distribution }} {{ rabbitmq_distribution }} main
deb [arch=amd64 signed-by={{ rabbitmq_apt_keyring_path }}] https://deb2.rabbitmq.com/rabbitmq-erlang/ubuntu/{{ rabbitmq_distribution }} {{ rabbitmq_distribution }} main
## Latest RabbitMQ releases from Team RabbitMQ
deb [arch=amd64 signed-by={{ rabbitmq_apt_keyring_path }}] https://deb1.rabbitmq.com/rabbitmq-server/ubuntu/{{ rabbitmq_distribution }} {{ rabbitmq_distribution }} main
deb [arch=amd64 signed-by={{ rabbitmq_apt_keyring_path }}] https://deb2.rabbitmq.com/rabbitmq-server/ubuntu/{{ rabbitmq_distribution }} {{ rabbitmq_distribution }} main
